@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #101828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Slackey';
  src: url('/fonts/Slackey-Regular.ttf') format('truetype');
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/assets/background.jpg');
  background-repeat: repeat;
  background-size: auto;
}

.font-comic {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.filters {
  width: 850px;
}

h1 {
  font-family: "Slackey", sans-serif;
}

.subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
}

.game-needs {
  height: 480px;
}