@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #101828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Slackey';
  src: url('/fonts/Slackey-Regular.ttf') format('truetype');
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/assets/background.jpg');
  background-repeat: repeat;
  background-size: auto;
}

.font-comic {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.language-toggle {
  position: fixed;
  right: calc(var(--spacing) * 15);
  top: calc(var(--spacing) * 8);
  z-index: 10;
}

.filters {
  max-width: 850px;
  width: 100%;
}

h1 {
  font-family: "Slackey", sans-serif;
}

.subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
}

.game-needs-wrapper {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  height: 400px;
  margin-bottom: 50px;
}

.game-needs {
  transform-origin: top center;
  transition: transform 0.3s ease;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive scaling for game needs */
@media (max-width: 1200px) {
  .game-needs-wrapper {
    height: 380px;
    margin-bottom: 10px;
  }

  .game-needs {
    transform: scale(0.9);
  }

  .filters {
    max-width: 700px;
  }
}

@media (max-width: 1024px) {
  .game-needs-wrapper {
    height: 350px;
    margin-bottom: 0 !important;
  }

  .game-needs {
    transform: scale(0.8);
  }

  .filters {
    max-width: 600px;
    font-size: 1rem;

    h2 {
      font-size: 1rem;
    }

    input {
      height: 9px;
    }
  }
}

@media (max-width: 900px) {
  .game-needs-wrapper {
    height: 360px;
  }

  .game-needs {
    transform: scale(0.8);
  }
}

@media (max-width: 768px) {
  .language-toggle {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    width: fit-content;
    padding-top: 40px;
    margin: 0 auto;
  }

  .contact p {
    padding: 16px 0;
  }
}

@media (max-width: 640px) {
  .game-needs-wrapper {
    height: 340px;
  }

  .game-needs {
    transform: scale(0.75);
  }
}

@media (max-width: 580px) {
  .game-needs-wrapper {
    height: 320px;
  }

  .game-needs {
    transform: scale(0.7);
  }
}

@media (max-width: 520px) {
  .game-needs-wrapper {
    height: 300px;
  }

  .game-needs {
    transform: scale(0.65);
  }
}

@media (max-width: 480px) {
  .game-needs-wrapper {
    height: 270px;
    margin-top: 20px;
  }

  .game-needs {
    transform: scale(0.6);
  }
}

@media (max-width: 440px) {
  .game-needs-wrapper {
    height: 260px;
  }

  .game-needs {
    transform: scale(0.54);
  }
}

@media (max-width: 400px) {
  .game-needs-wrapper {
    height: 240px;
  }

  .game-needs {
    transform: scale(0.5);
  }
}

@media (max-width: 360px) {
  .game-needs-wrapper {
    height: 200px;
  }

  .game-needs {
    transform: scale(0.4);
  }
}